body {
    font-family: "Open Sans", sans-serif;
    background-color: black;
}

h1, h2, h3 {
    font-family: "Lobster", cursive;
}

h2 {
    color: #60106B;
}

h3, p {
    color: white;
}

header h2, h1 {
    color: #CEC8FF;
    text-shadow: 2px 2px #ff0000;
}

.site-footer {
    background-image: linear-gradient(to right, #775fe2, #60106B, #a30e0e);
    padding: 20px 0;
}

.jumbotron {
    margin: 0;
    padding: 30px;
    background-image: linear-gradient(to right, #5637DD, #60106B, #a30e0e);
    color: white;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.navbar {
    background-color: rgb(122, 8, 84);
    background-image: linear-gradient(#CEC8FF);
;}

.tab-content {
    border: 1px solid #DDD;
    border-top: none;
    padding: 10px;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
}

.carousel {
    border: 10px solid #60106B;
    border-style: inset;
}

.carousel-caption h3 {
    color: rgb(253, 21, 176);
    font-weight: bold;
}

.carousel-caption p {
    color: rgb(253, 21, 176);
    font-weight: bold;
}

.card {
    background-color: black;
    color: white;
}
